# Skills de agentes
.opencode/
.claude/
.agents/

# Estos archivos se excluyen ya que son configuraciones locales dependientes del agente que se usa 
.specify/init-options.json
.specify/integration.json
.specify/integrations/

.env.*
.env
