:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --ink-blue: #131b23;
  --golden: #dfaf0f;
  --radiant-orange: #ff7f1f;
  --green-forest: #114e04
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  background-color: color-mix(in srgb, var(--golden) 39%, transparent);
}
